@using Microsoft.AspNetCore.Identity
@using Bellissimo.Models

<link rel="import" href="~/lib/polymer/polymer.html" />
<link rel="import" href="~/lib/paper-card/paper-card.html" />
<link rel="import" href="~/lib/iron-ajax/iron-ajax.html" />
<link rel="import" href="~/lib/paper-icon-button/paper-icon-button.html" />
<link rel="import" href="~/lib/iron-icon/iron-icon.html" />
<link rel="import" href="~/lib/iron-icons/iron-icons.html" />
<link rel="import" href="~/lib/paper-button/paper-button.html" />
<link rel="import" href="~/lib/paper-dialog/paper-dialog.html" />





    @inject SignInManager<ApplicationUser> SignInManager
    @inject UserManager<ApplicationUser> UserManager

    @if (SignInManager.IsSignedIn(User))
    {
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                </li>

                <li>
                    <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
                </li>

            </ul>
        </form>
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
            <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
        </ul>
    }

            
  